{% extends 'base.html' %}
{% load mptt_tags %}


{% block title %}Tienda{% endblock %}


{% block navbar-lis %}
	{% if user.is_authenticated %}
		<li class="active"><a href="{% url 'index' %}">Home<span class="sr-only">(current)</span></a></li>
		<li><a href="{% url 'favourites' %}">Liked</a></li>
		<li id="last-li"><a href="{% url 'logout' %}">Logout</a></li>
	{% else %}
		<li class="active"><a href="{% url 'index' %}">Home<span class="sr-only">(current)</span></a></li>
		<li><a href="{% url 'login' %}">Login</a></li>
		<li id="last-li"><a href="{% url 'register' %}">Register</a></li>
	{% endif %}
{% endblock%}


{% block body %}

	<div id="index-main" class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">

		<div class="hidden-xs col-sm-5 col-md-4 col-lg-3">
				<ul class="nav nav-list">
					<li><h3 class="caption font-big">Categories</h3></li>

					{% recursetree nodes %}
						<li class="cat-item">
							<a class="font-mid" href="#">{{ node.name }}</a>

							{% if not node.is_leaf_node %}
								<ul class="nav nav-list">
									<div class="subcategory hidden-xs col-sm-offset-1 col-sm-11 col-md-offset-1 col-md-11 col-lg-offset-1 col-lg-11">
										{{ children }}
									</div>
								</ul>
							{% endif %}
						</li>
					{% endrecursetree %}
				</ul>
		</div>


		<div class="col-xs-12 col-sm-7 col-md-8 col-lg9">
			<h3 class="text-center caption font-big">Popular products</h3>

			<div class="row">

				{% for sku in skus %}
					<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
						<a class="no-dec" href="{% url 'product' sku.id %}">
							<div class="thumbnail shadow">
								<img src="{{ MEDIA_URL }}{{ sku.image }}" alt="img">

								<div class="caption product">
									<p class="text-center product-name font-mid"><b>{{ sku.product.name }}</b></p>
									<hr class="product-hr">
									<h4 class="text-center cost-text font-mid"><b>$24.99</b></h4>
								</div>
							</div>
						</a>
					</div>
				{% endfor %}

			</div>
		</div>
	</div>

{% endblock %}