{% extends 'base.html' %}

{% block title %}Tienda{% endblock %}

{% block body %}

        <div id="index-main" class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">

			<div class="hidden-xs col-sm-5 col-md-4 col-lg-3">
					<ul class="nav nav-list">
						<li><h3 class="caption font-big">Categories</h3></li>

						<li class="cat-item">
							<a class="font-mid" href="#">Category 1</a>

							<ul class="nav nav-list">
								<div class="subcategory hidden-xs col-sm-offset-1 col-sm-11 col-md-offset-1 col-md-11 col-lg-offset-1 col-lg-11">
										<li>
											<a class="font-mid" href="#">Category 2</a>

											<ul class="nav nav-list">
												<div class="subcategory hidden-xs col-sm-offset-1 col-sm-11 col-md-offset-1 col-md-11 col-lg-offset-1 col-lg-11">
														<li>
															<a class="font-mid" href="#">Category 2</a>
														</li>

														<li>
															<a class="font-mid" href="#">Category 3</a>
														</li>

														<li>
															<a class="font-mid" href="#">Category 4</a>
														</li>
												</div>
											</ul>
										</li>

										<li>
											<a class="font-mid" href="#">Category 3</a>
										</li>

										<li>
											<a class="font-mid" href="#">Category 4</a>
										</li>
								</div>
							</ul>
						</li>

						<li class="cat-item">
							<a class="font-mid" href="#">Category 2</a>
						</li>

						<li class="cat-item">
							<a class="font-mid" href="#">Category 3</a>
						</li>

						<li class="cat-item">
							<a class="font-mid" href="#">Category 4</a>
						</li>

						<li class="cat-item">
							<a class="font-mid" href="#">Category 5</a>
						</li>

						<li class="cat-item">
							<a class="font-mid" href="#">Category 6</a>
						</li>

						<li class="cat-item">
							<a class="font-mid" href="#">Category 7</a>
						</li>
					</ul>
			</div>


			<div class="col-xs-12 col-sm-7 col-md-8 col-lg9">
				<h3 class="text-center caption font-big">Popular products</h3>

				<div class="row">

                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
						<a class="no-dec" href="#">
	                        <div class="thumbnail shadow">
	                            <img src="https://yt3.ggpht.com/--DvSLyJP5Hs/AAAAAAAAAAI/AAAAAAAAAAA/SAZDPLdP2Bw/s900-c-k-no/photo.jpg" alt="img">
	                            <div class="caption product">
	                                <p class="text-center product-name font-mid"><b>First Product</b></p>
	                                <hr class="product-hr">
	                                <h4 class="text-center cost-text font-mid"><b>$24.99</b></h4>
	                            </div>
	                        </div>
                        </a>
                    </div>

                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
						<a class="no-dec" href="#">
	                        <div class="thumbnail shadow">
	                            <img src="https://ds04.infourok.ru/uploads/ex/0658/0002c577-42206c94/hello_html_m49e0ad9c.jpg" alt="img">
	                            <div class="caption product">
	                                <p class="text-center product-name font-mid"><b>First Product</b></p>
	                                <hr class="product-hr">
	                                <h4 class="text-center cost-text font-mid"><b>$24.99</b></h4>
	                            </div>
	                        </div>
                        </a>
                    </div>

				</div>
			</div>
		</div>

{% endblock %}