{% extends 'base.html' %}

{% block title %}Product{% endblock %}

{% block body %}

		<div id="product-div" class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
			<!--photo-->
			<div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
				<div id="image" class="thumbnail">
					<img id="product-image" src="{{ MEDIA_URL }}{{ sku.image }}" alt="img">
				</div>
			</div>

			<!-- description -->
			<div id="description" class="col-xs-12 col-sm-7 col-md-8 col-lg-8 col-lg-offset-1">
				<div class="caption-full">
						<div class="row">
	                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
	                        	<h3 id="product-name" class="font-big"><b>{{ product.name }}</b></h3>
	                        </div>

	                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-right">
					 			<h3 id="product-cost" class="font-big"><b>$24.99</b></h3>
					 		</div>
                        </div>

                        <center>
	                        <div id="product-categories-div" class="">
		                        	<a href="#"><button type="button" class="btn btn-info product-categories font-small">Category 1</button></a>
		                        	<a href="#"><button type="button" class="btn btn-success product-categories font-small">Category 2</button></a>
		                        	<a href="#"><button type="button" class="btn btn-warning product-categories font-small">Category 3</button></a>
		                        	<a href="#"><button type="button" class="btn btn-danger product-categories font-small">Category 4</button></a>
		                        	<a href="#"><button type="button" class="btn btn-success product-categories font-small">Category 5</button></a>
	                        </div>
                        </center>



                        <p class="font-small">{{ product.description }}</p>
                </div>
			</div>


			<div id="info" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<hr class="product-hr">

				<div class="row text-left">
					<div id="info" class="col-xs-12 col-sm-8 col-md-8 col-lg-8 font-mid">
						<p class="no-margin font-mid"><b id="owner">Manufacturer: </b>{{ product.manufacturer.name }}</p>
						<p class="no-margin font-mid"><b id="phone">In store: </b>120</p>
					</div>


					<div id="product-buttons" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-right">
                        {% if user.is_authenticated %}
                            <a href="#"><button type="button" class="btn btn-danger font-mid actionbutton">Like</button></a>
                            <a href="#"><button type="button" class="btn btn-info font-mid actionbutton">Buy</button></a>
                        {% endif %}
					</div>
				</div>
			</div>


			<div id="characteristics" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<hr class="product-hr">

				<table class="font-small table table-bordered">
				  <tbody>
				    <tr>
				      <th class="col-xs-6 col-sm-6 col-md-4 col-lg-4" scope="row">Color</th>
				      <td>{{ sku.color }}</td>
				    </tr>

				    <tr>
				      <th class="col-xs-6 col-sm-6 col-md-4 col-lg-4" scope="row">Material</th>
				      <td>{{ sku.material }}</td>
				    </tr>

				    <tr>
				      <th class="col-xs-6 col-sm-6 col-md-4 col-lg-4" scope="row">Diagonal</th>
				      <td>{{ sku.diagonal }}</td>
				    </tr>

				    <tr>
				      <th class="col-xs-6 col-sm-6 col-md-4 col-lg-4" scope="row">Creation year</th>
				      <td>{{ product.creation_year }}</td>
				    </tr>

				    <tr>
				      <th class="col-xs-6 col-sm-6 col-md-4 col-lg-4" scope="row">Operational system</th>
				      <td>{{ product.os_type }}</td>
				    </tr>

				    <tr>
				      <th class="col-xs-6 col-sm-6 col-md-4 col-lg-4" scope="row">Wifi</th>
				      <td>{{ product.has_wifi }}</td>
				    </tr>

				    <tr>
				      <th class="col-xs-6 col-sm-6 col-md-4 col-lg-4" scope="row">Bluetooth</th>
				      <td>{{ product.has_bluetooth }}</td>
				    </tr>
				  </tbody>
				</table>
			</div>


			<div id="comments" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<hr class="product-hr">

                {% for comment in sku.comments.all %}
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 comment">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <b class="font-mid">{{ comment.owner.user.username }}</b>
                            </div>

                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
                                <i class="font-mid">{{ comment.date }}</i>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 font-small">
                                <hr class="comment-hr">
                                {{ comment.content }}
                            </div>
                        </div>
                    </div>
                {% endfor %}

			</div>
		</div>

{% endblock %}