{% extends 'main/base.html' %}
{% load staticfiles %}


{% block title %}Register{% endblock %}


{% block links %}
	<link href="{% static 'loginsys/css/loginstyle.css' %}" rel="stylesheet">
{% endblock %}


{% block navbar-lis %}
	<li><a href="{% url 'index' %}">Home<span class="sr-only">(current)</span></a></li>
	<li><a href="{% url 'login' %}">Login</a></li>
	<li class="active" id="last-li"><a href="{% url 'register' %}">Register</a></li>
{% endblock%}


{% block body %}
	<div class="container">
		<form class="form-signin" role="form" method="post" action="{% url 'register' %}">
			{% csrf_token %}

			<h3 class="form-signin-heading text-center font-big">Register in Tienda</h3>

			{% for field in register_form %}
				{{ field }}
			{% endfor %}

			<!--
			<input name="email" type="email" class="form-control font-mid" placeholder="Email address" required autofocus>
			<input name="name" type="text" class="form-control font-mid input-mid" placeholder="Your name" required>
			<input name="pass1" type="password" class="form-control font-mid input-mid" placeholder="Password" required>
			<input name="pass2" type="password" class="form-control font-mid input-last" placeholder="Confirm password" required>
			-->

			{% if message %}
				<center>
					<p class="font-mid message">{{ message }}</p>
				</center>
			{% endif %}

			<button class="btn btn-lg btn-primary btn-block font-mid" type="submit">Register</button>
		</form>
	</div>
{% endblock %}
