{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}Register{% endblock %}


{% block links %}
	<link href="{% static 'bootstrap/css/loginstyle.css' %}" rel="stylesheet">
{% endblock %}


{% block navbar-lis %}
	<li><a href="{% url 'index' %}">Home<span class="sr-only">(current)</span></a></li>
	<li><a href="{% url 'login' %}">Login</a></li>
	<li class="active" id="last-li"><a href="{% url 'register' %}">Register</a></li>
{% endblock%}


{% block body %}
	<div class="container">
		<form class="form-signin" role="form">
			<h3 class="form-signin-heading text-center font-big">Register in Tienda</h3>
			<input type="email" class="form-control font-mid" placeholder="Email address" required autofocus>
			<input type="text" class="form-control font-mid input-mid" placeholder="Your name" required>
			<input type="tel" class="form-control font-mid input-mid" placeholder="Phone number" required>
			<input type="password" class="form-control font-mid input-mid" placeholder="Password" required>
			<input type="password" class="form-control font-mid input-last" placeholder="Confirm password" required>
			<button class="btn btn-lg btn-primary btn-block font-mid" type="submit">Register</button>
		</form>
	</div>
{% endblock %}
