{% extends 'admin/base.html' %}
{% load staticfiles %}


{% block title %}Search{% endblock %}


{% block links %}
	<!--suppress XmlDuplicatedId -->
	<link href="{% static 'admin/css/bootstrap-select.min.css' %}" rel="stylesheet">
{% endblock %}


{% block navbar-lis %}
	{% if user.is_authenticated %}
		<li class="active"><a href="{% url 'index' %}">Home<span class="sr-only">(current)</span></a></li>
		<li><a href="{% url 'favourites' %}">Liked</a></li>
		<li id="last-li"><a href="{% url 'logout' %}">Logout</a></li>
	{% else %}
		<li class="active"><a href="{% url 'index' %}">Home<span class="sr-only">(current)</span></a></li>
		<li><a href="{% url 'login' %}">Login</a></li>
		<li id="last-li"><a href="{% url 'register' %}">Register</a></li>
	{% endif %}
{% endblock %}


{% block body %}

	<div id="index-main" class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">

		<div class="hidden-xs col-sm-4 col-md-4 col-lg-3">
			<h3 class="text-center caption font-big">Params</h3>

			<div class="row">
				<div class="hidden-xs col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
					<p class="text-center font-mid"><i>Category</i></p>

					<center>
						<select id="category" class="filter selectpicker" data-size=5 title="All categories" data-live-search="true">
							<option>All categories</option>

							{% for category in categories %}
								{% if category.parent is not None %}
									<option data-subtext="{{ category.parent }}">{{ category.name }}</option>
								{% else %}
									<option>{{ category.name }}</option>
								{% endif %}
							{% endfor %}
						</select>
					</center>
				</div>


				<div class="search-param hidden-xs col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
					<p class="text-center font-mid"><i>Color</i></p>

					<center>
						<select id="color" class="filter selectpicker show-tick" data-size=5 multiple title="Any color" data-live-search="true">
							<option>Any color</option>

							{% for color in colors %}
								<option class="color">{{ color }}</option>
							{% endfor %}
						</select>
					</center>
				</div>


				<div class="search-param hidden-xs col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
					<p class="text-center font-mid"><i>Manufacturer</i></p>

					<center>
						<select id="manufacturer" class="filter selectpicker show-tick" data-size=5 multiple title="Any manufacturer" data-live-search="true">
							<option>Any manufacturer</option>

							{% for manufacturer in manufacturers %}
								<option>{{ manufacturer.name }}</option>
							{% endfor %}
						</select>
					</center>
				</div>

				<div class="search-param hidden-xs col-sm-12 col-md-12 col-lg-10 col-lg-offset-1 checkbox font-mid">
					<label><input class="filter" id="wifi" type="checkbox"><i>Wifi</i></label>
				</div>


				<div class="search-param hidden-xs col-sm-12 col-md-12 col-lg-10 col-lg-offset-1 checkbox font-mid">
				  <label><input class="filter" id="bluetooth" type="checkbox"><i>Bluetooth</i></label>
				</div>
			</div>

		</div>


		<div class="col-xs-12 col-sm-8 col-md-8 col-lg9">
			<h3 class="text-center caption font-big">Products</h3>

			<div id="ajax-div" class="row">
				{% include 'products/includes/search-div.html' %}
			</div>
		</div>
	</div>

{% endblock %}


{% block scripts %}
	<script src="{% static 'admin/js/bootstrap-select.min.js' %}"></script>
	<script src="{% static 'products/js/search-select.js' %}"></script>
	<script src="{% static 'products/js/search-ajax.js' %}"></script>
{% endblock %}