 {% for comment in comments %}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 comment">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <b class="font-mid">{{ comment.owner.user.username }}</b>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
                <i class="font-mid">{{ comment.date }}</i>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 font-small">
                <hr class="comment-hr">
                {{ comment.content }}
            </div>
        </div>
    </div>
{% endfor %}